[2020-01-29 20:54] fraggan commented on #170
Not sure I can reply but I'll try.
It was a while I had that problm, I'm not sure how I fixed it but I think I got some help from Oliver. So as of now there aren't any problem with that. Altough I don't move them much. But I'll try the new xcenter client anyways =)

/regards
Fredrik

[2020-02-05 14:28] amp88 opened #177 "XCP-ng Center 8.0.1 'Forgets' Window Position & Size When Placed Near Edge of Display"
When XCP-ng Center 8.0.1 is placed near the edge of a display and closed, the next time it's run it  'forgets' the last window position and size it had before it was closed.

Steps to reproduce the behaviour:
1. Open XCP-ng Center 8.0.1
2. Move the XCP-ng Center window to just inside the top left corner of your display (or the top left corner of the leftmost display in a multi-monitor setup).
3. C

[2020-02-06 23:36] schulz-alexander commented on #172
Maybe: need to set the general autoboot parameter for the whole server, not only for the VMs itself

[2020-02-06 23:37] schulz-alexander commented on #177
~~can you please test again with the latest nightly 99.99.99.28 ?~~
I can confirm, it's a bug :-/

[2020-02-06 23:43] schulz-alexander commented on #172
same as here: https://github.com/vatesfr/xen-orchestra/issues/879

[2020-02-07 00:11] schulz-alexander commented on #177
fixed: https://github.com/xcp-ng/xenadmin/commit/efc7824e7b4528fcf356cd4b0dce9e2aaa80943b

If the window was maximized or the values are outside of the boundaries of the screen, XCP-ng Center will be restored maximized.

The more advanced solution is to check the "unvisible" border. But this depends on the exact windows theme I think.

If you need a more advanced solution, please open a new ticket

[2020-02-07 00:12] #177 closed, assigned to nobody

[2020-02-07 00:16] #165 closed, assigned to schulz-alexander

[2020-02-09 14:40] speedy01 commented on #172
This may be the case with v8.0, but 8.1 may be a different issue.

8.0 to 8.1 upgrade via yum went well without an issue, but autostart of the vm does not work. Auto start worked fine with 8.0.
I confirmed that autostart is set to TRUE on the pool and on the vm itself using
xe pool-param-get uuid=<pool_uuid> param-name=other-config param-key=auto_poweron
xe vm-param-get uuid=<vm_uuid> param-name=o

[2020-02-22 12:25] mimi89999 commented on #23
I have an issue with XCP 8.0.0. It is crashing on the splash screen. Would it be possible to add an option to disable splash?

[2020-02-22 19:40] cocoon commented on #23
You could run XenCenterMain.exe instead, that would avoid the splash?

[2020-02-28 11:11] onurbaser opened #178 "wrong filesystem type is displayed on "Storage Repositories""
The SR is mounted as ext4 but XCP-ng Center "Storage Repositories" shows as Ext3.

XCP-ng 8.1

[2020-03-11 15:52] schulz-alexander commented on #172
Its relatively difficult to set the autoboot parameter for the pool if I'm in the vm context. More investigation is needed.

[2020-03-11 15:53] stormi commented on #172
Autostart of VMs in 8.1 updated via yum from 8.0 has been fixed since in XCP-ng directly, if that's the same issue.

[2020-03-11 15:55] #171 closed, assigned to schulz-alexander

[2020-03-11 18:47] schulz-alexander commented on #170
Closed, please reopen if needed.

[2020-03-11 18:47] #170 closed, assigned to nobody

[2020-03-11 18:53] schulz-alexander opened #179 "change Label "Ext3" to "Ext""
Change Label "Ext3" to more general "Ext" (to avoid missunderstandigs because of new upstream ext4 feature that has the same xapi-value like ext3)

[2020-03-11 18:58] #179 closed, assigned to schulz-alexander

[2020-03-11 19:18] schulz-alexander commented on #178
solved with #179

[2020-03-11 19:18] #178 closed, assigned to nobody

[2020-03-11 19:34] schulz-alexander commented on #172
@stormi no, it's an internal one

[2020-03-11 19:40] schulz-alexander commented on #81
will not change the installer, it seems god as it is now

[2020-03-11 19:40] #81 closed

[2020-03-11 19:42] schulz-alexander commented on #169
Can you please test with the lastest release 20.03.00? It loaded with many changes from upstream.

--> https://github.com/xcp-ng/xenadmin/releases/tag/v20.03.00.29

[2020-03-12 23:14] rjt opened #180 "choco search xen does not return xcp related packages"
**Describe the bug**
Using the chocolatey.org package management software, i want to get the latest version of xencenter for xcp-ng or xenadmin xcp-ng Center and install it.  So i search for xen, but only find Citrix related software packages:

[choco](https://chocolatey.org/) search xen
[xenserver-backup](https://chocolatey.org/packages/xenserver-backup#releasenotes)
[citrix-xenserver-sdk](https:

[2020-03-15 00:08] schulz-alexander commented on #180
If someone has time to package it, go ahead :-)

[2020-03-17 15:05] ghost opened #181 "XCP-ng Center v20.03.00 on startup briefly shows all tabs before connecting to servers."
**Describe the bug**
When starting XCP-ng Center version v20.03.00, it briefly flashes/shows all tabs just before connecting to servers.

**To Reproduce**
Steps to reproduce the behavior:
1. Start XCP-ng Center
2. Notice just before connecting that all the tabs in the main pane are showing.

**Expected behavior**
All tabs in the main pane should not flash up during server connection.

**Screenshot

[2020-03-17 15:21] stormi opened #182 "Do not enable the Windows Update feature for guest tools by default"
We have noticed that although the Windows guest templates do not enforce `has-vendor-device` to true, XCP-ng Center does when a VM is created.

See https://github.com/xenserver/xenadmin/blob/065e8bd7721547a000925d24c739889abf2358f0/XenModel/Actions/VM/CreateVMAction.cs#L260

When it detects that the license allows it, it automatically enables the option. Enabling this option should be a conscious

[2020-03-24 21:14] schulz-alexander opened #183 "XCP-ng Center should not display updates from CITRIX"
**Issue**
XCP-ng Center displays available updates for XCP-ng hosts from CITRIX. This is wrong!

**Reason**
It's a branding issue... CITRIX changed the way to store the update-url. It's now a non-branded setting in Branding/Branding.resx.
This location was not covered by my XCP-ng branding scripts :-/ and I didn't catch this during build and testing this release.

**Affected Versions**
XCP-ng Cent

[2020-03-24 22:53] schulz-alexander commented on #183
https://xcp-ng.org/forum/topic/2768/warning-xcp-ng-center-shows-wrong-updates-for-xcp-ng-servers-do-not-update

[2020-03-24 23:35] schulz-alexander commented on #181
hmm... didn't notice this on Windows 10 Pro at home and at work.

Maybe only on Windows 8.1?

[2020-03-24 23:37] schulz-alexander commented on #181
ahhh... I saw it, it was a blink of an eye long ...

[2020-03-25 00:24] schulz-alexander commented on #183
Update released: https://github.com/xcp-ng/xenadmin/releases/tag/20.03.01.31

[2020-03-25 00:24] #183 closed, assigned to schulz-alexander

[2020-03-25 19:26] ghost commented on #181
@borzel did not think it was a big deal so I would not care if you scrapped it altogether. I didn't want to bother you with this but I thought you may want to know about it. Just wanted to say thanks a lot for all the work you did on this to port it to the XCP-ng project and the newer Visual Studios. Even Citrix didn't do that! I know you don't get many kudos for being the lone wolf on this projec

[2020-04-03 06:34] ghost commented on #175
It is not related to this issue but when I searched for my issue, I landed here.
So I am linking this thread for people who will be in the same case as me when upgrading from 8.0 to 8.1 via yum (the ISO will be patched by the XCP-ng team soonish as I understood)
https://xcp-ng.org/forum/topic/2797/xcp-ng-8-1-clean-install-missing-stunnel4/62

[2020-04-03 21:01] cocoon opened #184 "Bug memory tab with dynamic memory missing url"
**Describe the bug**
Reported in the forum here:
https://xcp-ng.org/forum/topic/2804/yum-upgrade-8-0-to-8-1-vm-memory-error/

looks like a bug introduced by removing the Citrix-urls:
https://github.com/xcp-ng/xenadmin/commit/b2201f6a62303705a465f5a06bc7e3507c088f68#diff-07eabd7f8066c4f11a4c37b01b68cd39L192

root cause might be here:
https://github.com/xcp-ng/xenadmin/blob/development/XenAdmin/TabP

[2020-04-03 21:53] cocoon commented on #184
Confirmed:
commenting this line:
https://github.com/xcp-ng/xenadmin/blob/development/XenAdmin/TabPages/BallooningPage.cs#L468

removes the error but the "Details"-Link then does nothing.

So I think it would be better to provide an own DEPRECATION_URL or the previous one.

[2020-04-03 23:37] schulz-alexander commented on #184
Hmm.. can you analyse to what that url should lead to? A webpage or some sort of data?

[2020-04-04 06:31] cocoon commented on #184
I "think" it would be this:
https://docs.citrix.com/en-us/citrix-hypervisor/whats-new/removed-features.html

but I can confirm this with the other client.

Update: confirmed, this page opens.

[2020-04-12 14:50] schulz-alexander commented on #184
I change the DEPRECATION_URL to https://github.com/xcp-ng/xcp/wiki/XCP-ng-8.1-Release-Notes

[2020-04-12 14:53] #184 closed, assigned to schulz-alexander

[2020-04-12 15:11] schulz-alexander commented on #182
Did a little research. At least XCP-ng Center does all right (from its implementation view)

The value of **has-vendor-device** of the template is ignored and the value from **recommendations -> has-vendor-device** is used:

[code]
@stormi, @olivierlambert so what does XO at this stage? I ask to implement it the same way here - at least try to :-)

[2020-04-12 15:15] schulz-alexander commented on #180
I close the issue, because its not really a "true" XCP-ng Center issue.

[2020-04-12 15:15] #180 closed, assigned to nobody

[2020-04-12 19:08] olivierlambert commented on #182
Ping @julien-f

I think we just ignore it.

[2020-04-12 21:55] julien-f commented on #182
I have no idea what this value does, and XO has no special handling for it.

[2020-04-13 09:16] olivierlambert commented on #182
As the issue title says: it enable Windows Update to download Citrix drivers. Like we do in Advanced tab.

[2020-04-13 14:52] julien-f commented on #182
I see, I stand by my previous comment: XO does not enable it on creation.

[2020-04-13 16:12] olivierlambert commented on #182
So we should remove it from XCP-ng Center anyway.

[2020-04-14 09:36] stormi commented on #182
I agree. I was not aware of `recommendations` fields and they seem something we should consider in XO to improve the default parameters at VM creation. However in the case of the Windows Update feature it's better to not enable it in XCP-ng and let users enable it manually if they want to.

[2020-04-14 09:53] olivierlambert commented on #182
@stormi I think we already use some fields for memory etc.

[2020-04-17 01:05] rwarford opened #185 "Unexpected Error: Key not valid for use in specified state."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Start XCP-NG Server
2. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
I get a message that an "Unexpected Error" has occurred.  If I click OK I have to re-add my servers but then everything appears to work correctly.

**Scr

[2020-04-17 18:01] cocoon commented on #185
@rwarford Hi, can you give some more details about the environment?

As I can see from the logs you are using the latest XCP-ng Center release, right?
20.4.0.32

Your Windows Client is Windows 7?

What version and where is your XCP-ng Servers are running?
Hardware: ?
Host XCP-ng Version: ?

Are you connecting to a single server or to a pool?

**What you can already try is to:**

-  close XCP-ng Ce

[2020-04-17 19:23] rwarford commented on #185
Deleting the XCP-ng folder fixed the issue (why didn't I think of that?).  Thank you!

FWIW:
- XCP-ng center host is Windows 7.
- XCP-ng center version 20.4.0.32.
- Host version XCP-ng Host 7.5.0,
- Hosts are Dell R710 and R410s.
- Servers are pooled.

[2020-04-17 19:25] cocoon commented on #185
Great and thanks for reporting back.
OK I think I can close this then.

[2020-04-17 19:25] #185 closed, assigned to nobody

[2020-04-21 08:24] ducarpit opened #186 "Cannot change VM RAM memory from XCP-ng Center 20.04.00.32"
Hi to all,
unfortunatly there isn't the possibility to change the value of the RAM memory for the VMs in XCP-ng Center (in XenCenter it is possible).
I have to do this via CLI instead....
Can the development team introduce this function in the next release(s)?
Thanks a lot

Christian

**Hard-/Software involved:**
 - Host XCP-ng Version: latest
 - Client XCP-ng Center Version: 20.04.00.32
 - Deskto

[2020-04-21 14:51] schulz-alexander commented on #186
Can you give more details?

[2020-04-21 16:30] ducarpit commented on #186
@borzel Hi, thank you for the response...
I have a server with XCP-ng 8.1 and i control it with XCP-ng Center 20.04.00.32.
I dont' find the "Edit" button in memory tab to modify the RAM value for the machines:

![immagine](https://user-images.githubusercontent.com/17808926/79888963-a962a400-83fd-11ea-82ce-3a4ee96549af.png)

In the past when i used XenCenter i could do this by the Proprietis of the

[2020-04-21 17:26] schulz-alexander commented on #186
Can you describe your steps so that I can try to reproduce?
Can you please attach the log files? -> https://github.com/xcp-ng/xcp/wiki/Logfiles#xcp-ng-center

Just to be sure: You have the latest .Net installed?

[2020-04-21 17:30] schulz-alexander commented on #186
Did a test, all is working:

![grafik](https://user-images.githubusercontent.com/5782951/79895034-90aabc00-8406-11ea-916e-1cb0689a06c3.png)

[2020-04-21 19:03] ducarpit commented on #186
@borzel Hi, thank you for the reply....
Yes, i ahve the latest version of .NET Framework:

![image](https://user-images.githubusercontent.com/17808926/79903210-f56c1380-8412-11ea-9978-4b5d5db26759.png)

Here is the logs:

[XCP-ng Center.log](https://github.com/xcp-ng/xenadmin/files/4512106/XCP-ng.Center.log)
[XCP-ng Center Audit Trail.log](https://github.com/xcp-ng/xenadmin/files/4512108/XCP-ng.Ce

[2020-04-21 19:18] ducarpit commented on #186
@borzel i have tryed in another PC with resolution 1668x888 and:

![image](https://user-images.githubusercontent.com/17808926/79904730-71675b00-8415-11ea-9336-030f422fb4c4.png)

In my PC with 1980x1080 instead:

![image](https://user-images.githubusercontent.com/17808926/79904808-91971a00-8415-11ea-9956-d3801645eb38.png)

Maybe could it be a problem with resolution?
Christian

[2020-04-21 21:26] schulz-alexander commented on #186
hhm.... can you try with .Net 4.6?
And can you point to the other users which have also problems with the Edit button?

[2020-04-21 21:30] schulz-alexander commented on #186
Ahh!! I saw it on your pictures... the renderin failes because of the DPI scaling... The **Minimum Memory** text is moved down.

If you try with 100% scaling it should show the Edit-Button I guess :thinking:

[2020-04-22 06:34] ducarpit commented on #186
@borzel i can't test with .Net 4.6 because when i try to install it, the OS say to me that there is already a newest version installed....

I did some test and i can confirm you that the problem isn't the resolution but the DPI, with standard DPI such as 100 or 125 i can see the edit button in the memory tab. But with personalized DPI (also if you insert 125 by hand and not by the menù) the button

[2020-04-22 22:32] schulz-alexander commented on #186
Yes, someone has to look into the code, maybe upstream has updates?

[2020-04-23 06:57] ducarpit commented on #186
@borzel If i can do some tests for you or if you have a nighly build or some beta installer that i can test for you, i will be happy to help you and the other developers in this bug 👍 tell me...

[2020-04-23 07:52] cocoon commented on #186
@ducarpit:
What exact value do you enter into these fields to have that problem?

![2020-04-23_screen-01](https://user-images.githubusercontent.com/1071741/80073309-d9b65980-8547-11ea-9c3d-d7b5e15dc1b4.png)
![2020-04-23_screen-02](https://user-images.githubusercontent.com/1071741/80073313-da4ef000-8547-11ea-8366-775f747dbdfc.png)

I think it is this control:
VMMemoryControlsNoEdit

Had a quick loo

[2020-04-23 08:43] ducarpit commented on #186
Hi @cocoon ,
these are my options:

![image](https://user-images.githubusercontent.com/17808926/80078296-002bc300-854f-11ea-804c-4a0fe1908856.png)

And:

![image](https://user-images.githubusercontent.com/17808926/80078330-0d48b200-854f-11ea-9dfd-d8cb9c0a7653.png)

Tha images are in italian language but i think you can understand......
If you need i can make other screenshots or tests.....
Is ther

[2020-04-24 16:41] ducarpit commented on #186
@cocoon Can i do other tests for you or give you other informations?

[2020-04-24 18:24] cocoon commented on #186
You "could" but you would ned to compile the source and try to modify the controls so that it won't get removed.

[2020-04-24 19:57] ducarpit commented on #186
@cocoon  Ah ok, i thought you have some beta installer to try the fix....in other posts i saw a similar approach...

Is there the hope that this bug will be fix in the future releases?
Thanks
Christian

[2020-04-24 20:10] schulz-alexander commented on #186
To fix the issue is the reason why we talk with you about it :-)

[2020-04-25 20:30] ducarpit commented on #186
Thanks a lot, very kind.
If i can make some tests, contact me :)
Thank you to all the team
Christian

[2020-04-25 23:49] rjt commented on #186
Most often happens on laptops that have very high resolution but laptop
sized screen.  Have a very large screen with 2560x1440 resolution on the
desktop and work has a laptop with the same resolution.  The highDPI
corruption  only occurs on the laptop.   If using RDP, disable or delete
your RDP cache or the problem will persist even though “fixed”.

So we have seen this on other apps and we worked

[2020-04-26 08:17] cocoon commented on #186
I have now an environment where I can reproduce the problem.

And the first simple workaround was to set the Anchoring for the Button to: top instead of top,right
Not pretty, but at least the button is visible. Or better: top, left.
But the other information still is out of the visible area. This text also must be aligned to left, then it is visible with this setting.

[2020-04-27 17:16] ducarpit commented on #186
Hi, thanks for the response...
I tryed your solution/suggestion but unfortunatly it doesn't work yet.....
Christian

[2020-04-30 09:10] cocoon commented on #186
[20200430_test-01.zip](https://github.com/xcp-ng/xenadmin/files/4557277/20200430_test-01.zip)

Hi, you can try this build.
Be aware, that this is only for testing if the single problem is solved for you so that you can at least use it for this until a better solution in the official build is found.

[2020-04-30 16:21] ducarpit commented on #186
Hi,
thanks a lot:

![image](https://user-images.githubusercontent.com/17808926/80734046-db1aef80-8b0e-11ea-938e-05907bf9a52c.png)

Now i can see the "Edit" button :)
There are some elements out of position such as the "Memory" label on the top or the labels "Minimum Memory" and "Maximum Memory" but it doesn't matter....
The "Edit" button is important now:

![image](https://user-images.githubuserco

[2020-05-01 09:42] Grip3n opened #187 "Could Not Load Settings"
**Describe the bug**
XCP-NG Center was running connected to XCP-NG. The PC that runs XCP-NG Center hanged (reason unknown) and a force reboot was needed to get the the PC back up and running.

Try and ran XCP-NG Center and got the error message as seen in screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Run XCP-NG Center (20.3.1.31)
2. Connect XCP-NG Center (20.3.1.31) to XCP-NG-8

[2020-05-06 16:48] philipwilk opened #188 "XCP-ng Center does not automatically check for newer versions of itself or XCP-ng"
**The bug**
Even when automatic updating is enabled under *Tools>Options>Updates>*, the client does not notify the user of an update/upgrade for XCP-ng Center or XCP-ng.

**To Reproduce**
Steps to reproduce the behavior:
1. Install/be running XCP-ng Center
2. Use the client with *Check for new XCP-ng Center versions*, *Check for XCP-ng updates* and *Check for new versions of XCP-ng* enabled
3. Not

[2020-06-03 12:33] cfoellmann opened #189 "Publish to chocolatey.org library"
There is already a .msi package so the xenadmin/xcp-ng center should be available via chocolatey.
This way it can be kept up-to-date easily.

[2020-06-08 04:13] BF3000 opened #190 "Is it still possible to build 32bit version?"
I know its a bit too late for this in 2020, but still, is it possible to build 32bit version?

[2020-06-10 21:18] Storycrafter commented on #53
I'll take a look at this and see what I can do. This is my most important need right now -- Linux desktop support for this tool.

[2020-06-11 05:51] olivierlambert commented on #53
Hi @Storycrafter

I'd like to know why, in the light of this:

1. there's not enough maintainers on this project, and it caused problems (applying Citrix updates on XCP-ng etc.)
2. there's plan to make a new UI for Xen Orchestra (with a tree view, as requested by a part of the community). XO can be used on any modern browser, regardless the OS
3. there's also plans for XO Lite, a web UI that will

[2020-06-11 14:29] Storycrafter commented on #53
@olivierlambert Are you suggesting you don't want further help on this project?

[2020-06-11 17:09] olivierlambert commented on #53
I'm not suggesting anything. Feel free to do what you want with it :smile: Just giving you the context.

* Facts: one community maintainer, it triggered some problems in a recent past, we can't keep up with Citrix decisions on upstream because they are 3 full time on it.
* My opinion: we should try to focus our efforts on more "modern" tools where we are less Citrix-dependent. But I'm trying to gr

[2020-06-11 19:41] Storycrafter commented on #53
I get your motivations.  Unfortunately, as a hobbyist, I have somewhat different motivations. Having XO available is _almost_ a substitute. I really need the features in the paid version (particularly the updating and backup features), and I have struggled recently trying to re-orient myself to XO's UX. That it is a VM doesn't bother me at all -- the install from XCP-ng's browser (and the XO site)

[2020-06-11 19:49] olivierlambert commented on #53
Wait, why not using XO from the sources? https://xen-orchestra.com/docs/installation.html#from-the-sources You have all XO features for free. So problem solved on that side.

Regarding the UI, I already said it will be fixed with the next XO UI, being closer at some point to the "tree view". Obviously, your feedback on what caused your issue with XO current UI is always helpful to improve next XO

[2020-06-19 09:32] kbalicki commented on #172
Is there some solution for this, or still nothing?

[2020-06-19 10:01] olivierlambert commented on #172
For me, it's working on XCP-ng 8.1 with Xen Orchestra. Are you on 8.0?

[2020-06-24 22:41] schulz-alexander commented on #190
Why?

[2020-06-24 22:44] schulz-alexander commented on #53
As I have no spare time I close this :-(

[2020-06-24 22:44] #53 closed

[2020-06-24 22:44] schulz-alexander commented on #54
As I have no spare time I close this :-(

[2020-06-24 22:44] #54 closed

[2020-06-24 22:45] schulz-alexander commented on #44
As I have no spare time I close this :-(

[2020-06-24 22:45] #44 closed

[2020-06-24 22:45] schulz-alexander commented on #42
As I have no spare time I close this :-(

[2020-06-24 22:45] #42 closed

[2020-06-24 22:45] schulz-alexander commented on #41
As I have no spare time I close this :-(

[2020-06-24 22:45] #41 closed

[2020-06-24 22:45] schulz-alexander commented on #40
As I have no spare time I close this :-(

[2020-06-24 22:45] #40 closed

[2020-06-24 22:46] schulz-alexander commented on #39
As I have no spare time I close this :-(

[2020-06-24 22:46] #39 closed

[2020-06-24 22:46] schulz-alexander commented on #43
As I have no spare time I close this :-(

[2020-06-24 22:46] #43 closed

[2020-06-24 22:46] schulz-alexander commented on #26
As I have no spare time I close this :-(

[2020-06-24 22:46] #26 closed

[2020-06-24 22:47] schulz-alexander commented on #31
As I have no spare time I close this :-(

[2020-06-24 22:47] #31 closed

[2020-06-24 22:47] schulz-alexander commented on #55
As I have no spare time I close this :-(

[2020-06-24 22:47] #55 closed

[2020-06-24 22:47] schulz-alexander commented on #23
As I have no spare time I close this :-(

[2020-06-24 22:47] #23 closed

[2020-06-24 22:48] schulz-alexander commented on #71
As I have no spare time I close this :-(

[2020-06-24 22:48] #71 closed

[2020-06-24 22:48] schulz-alexander commented on #24
As I have no spare time I close this :-(

[2020-06-24 22:48] #24 closed

[2020-06-24 22:48] schulz-alexander commented on #145
As I have no spare time I close this :-(

[2020-06-24 22:48] #145 closed

[2020-06-24 22:49] schulz-alexander commented on #120
As I have no spare time I close this :-(

[2020-06-24 22:49] #120 closed

[2020-06-29 08:31] kbalicki commented on #172
I do not use Xen Orchestra, and problem is still there :(

[2020-06-29 17:03] HeMaN-NL commented on #172
What is your xcp-ng version and what steps have you done to enable it?

[2020-06-30 12:13] Machine22 commented on #172
Reporting on the same issue i am using the latest version of XCP-ng with xen center. Am facing the same issue right here, not only does pfsense not auto start on Xen server reboot but as well my other Windows 7 machine running Plex that is attached to Pfsense's LAN. Could it be an issue with Xcp or the VMs in particular are set up wrongly with in xcp though i highly doubt.
Anyone with a solution k

[2020-06-30 12:16] thoatswold commented on #187
I have exactly the same problem, except that in my case the folder 20.04.00.32 wasn't missing. (But Grip3n's recreating it didn't solve the problem, so maybe that is unimportant.)

For full details see https://xcp-ng.org/forum/topic/3233/xcp-ng-center-20-4-0-32-fails-with-corrupt-user-config-error/

[2020-06-30 12:17] olivierlambert commented on #172
Can you try with Xen Orchestra? I just tested it here and it works.

[2020-06-30 12:46] stormi commented on #172
I think this whole bug report is about XCP-ng Center, not XCP-ng or Xen Orchestra. I'm pretty sure it works in Xen Orchestra indeed.

[2020-06-30 12:56] olivierlambert commented on #172
I'd like to be sure it's purely *XCP-ng Center* related, that might help to find the root cause :+1:

[2020-06-30 13:36] cocoon commented on #187
Hi,

can you zip together those two folders:

%userprofile%\AppData\Roaming\XCP-ng\
and
%userprofile%\AppData\Local\XCP-ng\

Please before that check the files for any confidential information like username and passwords and try to replace them with something else.

If I can reproduce the crash with these files I can try to find out what is wrong.

[2020-06-30 14:14] Grip3n commented on #187
Hi cocoon,
[XCPNG.zip](https://github.com/xcp-ng/xenadmin/files/4852384/XCPNG.zip)

Things have changed since my issue, some files were deleted and some not BUT you are in luck seems the log files were kept and after reviewing them seems the error was captured. Folders 7.6.3.20 and 8.0.1.26 were deleted at time.

IF i recall the way I resolved the issue was by using an old user.config file by recr

[2020-07-01 06:23] cocoon commented on #187
@Grip3n Thanks for the files, but for me it is not crashing with your files. I would need a state where it still is corrupt and crashes the app.

In the old log it tried to read the config of the previous XCP-ng center Version and that was reported to be corrupt:
[code]

Is it still crashing for you?

[2020-07-01 09:27] Grip3n commented on #187
@cocoon
Hi,
then we are out of luck as it does not crash anymore.
I have tried a lot of solution to resolve the issue some recommended on the web others just by self created trail and error.

Due to deleting the old versions manually and removing some entries, think registry, is going to make fault finding now hopeless....

Will let you know if this happens again as soon as it happens. With the lo

[2020-07-02 10:29] kbalicki commented on #172
XCP-ng 8.1 + XCP-ng Center 20.04,00

XCP-ng Center: VM -> Properties -> Boot Options - ? Autostart on server boot
Rebooting server did not help either.

[2020-07-02 10:41] kbalicki commented on #172
Will test it when have some free time. My XCP-ng server is behind NAT, and it will take a moment to reconfigure everything, so it will be publicity available, so I can use XOA quick deploy.

[2020-07-02 12:28] thoatswold commented on #187
Yes, I think I can help – not just with the logs, I think I've discovered what's going on:

To summarize the problem, in some circumstances upgrading XCP-ng Center to version 20.4.0.32 from an earlier version (including 20.3) causes the upgraded program to fail to load its user.config file, which has become corrupted.

The error message is incorrect. It says "Revert changes to C:\Users\\<username\

[2020-07-02 12:40] Grip3n commented on #187
I can confirm by making my
C:\Users<username>\AppData\**Local**\XCP-ng\...\user.config.
a ZERO byte file
Error message shows
 C:\Users<username>\AppData\**Roaming**\XCP-ng\...\user.config

Good catch @thoatswold

[2020-07-02 12:54] kbalicki commented on #172
Confirmed, autostart works ok with Xen Orchestra, so it is XCP-ng issue.

[2020-07-02 12:56] stormi commented on #172
XCP-ng *Center*

[2020-07-02 12:58] olivierlambert commented on #172
Ah nice! Thanks :+1:

[2020-07-07 14:46] jobsoftinc opened #191 "All of a sudden, XCP Center XCP-ng-Center-20.04.00.32 says user.config "Root element is missing.""
Windows 10 Enterprise with latest updates. Had a system crash, and XCP Center wouldn't start after that. Did DISM and SFC scans, used Revo to fully uninstall XCP Center, then loaded previous release (XCP-ng-Center-20.03.01.31), but same error. Revo'd again, and purged the Roaming profile folder as well. Installed XCP-ng-Center-20.04.00.32 again, same error. Revo'd again, removed Roaming profile fo

[2020-07-07 15:40] HeMaN-NL commented on #191
Same as this problem?
Could Not Load Settings #187

this woraround?
https://github.com/xcp-ng/xenadmin/issues/187#issuecomment-652305363

[2020-07-07 16:11] jobsoftinc commented on #191
Would seem so. FWIW, using same "corrupt" config (copied to the fresh install of 8.0.1.26), it worked. Then, upgraded to 20.04.00.32, copied in same "corrupt" config, got error. I can't see anything wrong with XML file. Unless it has a corrupted server entry which may be breaking its parsing. When I uninstall it with Revo, I do the "advanced" post-uninstall-script-run to scan registry and filesyst

[2020-07-07 17:58] jobsoftinc commented on #191
I can try that case's workaround, but in reading through it, it would seem that i've already tried a number of those steps. Aside from this, I figured some one in the know would know why such an error would manifest itself in the first place? If the user.config XML is intact, what other conditions would result in such a parse (or open/access?) error? I do believe that it is something"environmental

[2020-07-08 06:14] cocoon commented on #191
@jobsoftinc Hi, thanks for the files.
But the log you provided is trying to read the user.config from AppData\Local, not roaming.
```AppData\Local\XCP-ng\XenCenterMain.exe_Url_zgy2ft4zhzkcejgr02qwwlngl4rqizyf\20.3.1.31\user.config```

I think you provided the AppData\Roaming one?

I would need a file that causes the error to see what happened to that file.

[2020-07-09 15:01] Daksol commented on #163
Suggest you go with ISO 8601 dates as the default which provide a universal option. They will confuse neither Americans nor Europeans, and probably not Martians either.

XKCD says: https://xkcd.com/1179/

Good wiki entry https://en.wikipedia.org/wiki/ISO_8601

Time date stamp like 2016-11-27T14:45:32Z
for 27 Nov 2016, at 14:45 UTC time (the Z denotes UTC time).

[2020-08-28 13:19] EugeneFlash opened #192 "Importing *.xva-file hangs with error "Exception has been thrown by the target of an invocation.""
**Describe the bug**
Cannot import xva file by the XCP-NG Center

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'File -->Import'
2. Browse xva-file
3. Click "Open", click "Next", click "Next", click "Import"
4. There is a windows with the "Preparing to import VM" that hangs for about 32 minutes
5. After that - an error "Exception has been thrown by the target of an invocation."

**Exp

[2020-08-28 13:21] olivierlambert commented on #192
Does it work with Xen Orchestra?

[2020-08-28 14:07] EugeneFlash commented on #192
Did not try. Can't check write now, maybe next week.

[2020-08-31 11:55] EugeneFlash commented on #192
XOA works like a charm! But imported VM views like a template. I use "xe vm-param-set is-a-template=false uuid=<VM UUID>" for it.

[2020-08-31 12:13] olivierlambert commented on #192
If you exported an XVA as a template, it's "normal" :+1:

But yeah, it's better to go through XO anyway.

[2020-09-03 18:24] siodor opened #193 "Issues with "Server Status Report" => XCP-ng Insight Services => MyCitrix Login"
**Describe the bug**
I was having trouble with an XCP-ng host and wanted to remove all crash dumps. In the process I found a few issues:

**XCP-ng Insight Services => MyCitrix Login**

**To Reproduce**
Steps to reproduce the behavior:
1. In XCP-ng Center
2. Right-click on "$XCP-ng_host"
3. Choose "Remove Crash Dump Files"
![3_XCP-ng Center - Wants to send report to Citrix](https://user-images.gith

[2020-09-03 18:38] siodor opened #194 "Issues with "Server Status Report" => "XCP-ng Privacy Statement" => Missing?"
**Describe the bug**
I was having trouble with an XCP-ng host and wanted to remove all crash dumps. In the process I found a few issues:

**XCP-ng Privacy Statement => Missing?**

**To Reproduce**
Steps to reproduce the behavior:
1. In XCP-ng Center
2. Right-click on "$XCP-ng_host"
3. Choose "Remove Crash Dump Files"
![3_XCP-ng Center - Wants to send report to Citrix](https://user-images.githubuse

[2020-10-04 16:49] schulz-alexander opened #195 "XCP-ng Center for XCP-ng 8.2"
* [x] setup build-environment (Visual Studio 2019)
* [x] build dotnet-packages
* [ ] build xenadmin upstream
* [ ] merge changes from upstream into xcp-ng-xenadmin
* [ ] build xcp-ng-center with branding
* [ ] pre-release for testers
* [ ] release for all :-)

[2020-10-05 18:14] fachex commented on #195
Thank you for your hard work. I can't wait for this to work.

[2020-10-22 15:14] holtdw opened #196 "xcp-ng center add server version error"
successfully installed xcp-ng 8.2, installed xcp-ng center 20.04.0   added server and get the following error
![XCP error](https://user-images.githubusercontent.com/59939038/96892160-5ecaee80-1457-11eb-8bd9-2233b41714ce.png)

what am I missing here.   version xcp-ng 8.2 compatibility problem?

[2020-10-30 16:19] PappBence opened #197 "couldn't save config file"
I get this error when xenadmin closed, but the settings are saved to the file.
I deleted it, but still get error message. File permissions is OK.
Version: 20.04

![xenadmin](https://user-images.githubusercontent.com/425259/97730232-e4900f00-1ad3-11eb-9f4c-3d233824d281.png)

[2020-11-02 11:30] stormi commented on #195
Hi. Will there be a new release in time for XCP-ng 8.2 (release in approximately 2 weeks)? If there weren't, I would need to update the landing HTML page to remove the link to https://github.com/xcp-ng/xenadmin/releases in order to avoid making beginner users download a release that doesn't support their host.

[2020-11-03 12:22] bobafetthotmail commented on #190
probably to repurpose old hardware. This isn't the virtualization server anyway

[2020-11-04 16:34] sheo0147 commented on #195
I’m waiting for the release of 8.2 support.
- What are you thinking about when will you release?
- Is there anything I can do to help you?

[2020-11-08 10:47] cheese commented on #195
It is needed to connect to console of VMs. Is there any simpler software can connect to VM console?

[2020-11-08 10:53] olivierlambert commented on #195
You can install XO even locally on your PC if you don't want to deploy it in a VM on your host :)

[2020-11-09 15:21] Alphaprot commented on #172
Also can confirm that it is XCP-ng Center related, see [XCP-ng 8.1.0 - vm autostart not working](https://github.com/xcp-ng/xcp/issues/450#issue-738503214)

[2020-11-10 21:55] aidanwardman commented on #195
Awaiting this release with anticipation! Any one know how i can downgrade 8.2 to 8.1 in the interim?

[2020-11-17 18:42] axiom00 commented on #195
@olivierlambert Can you elaborate on this comment? I looked for documentation on XO local install but didn't find any. Thanks!

[2020-11-17 19:34] olivierlambert commented on #195
Just follow the "from the sources" install on your local machine, that's it.

[2020-11-18 14:24] splastunov commented on #196
Hello!

Same problem here.
XCP-ng 8.2 released yesterday, but there is no compatible Center for windows yet....

Are there some plans to release new version of xcp-ng Center?

[2020-11-18 14:29] olivierlambert commented on #196
Hi there!

XCP-ng Center is only community maintained and not officially supported client. Until the current community maintainer can have time, I suppose help from others is welcome. See https://github.com/xcp-ng/xenadmin/issues/195

See the list of multiple clients you can use: https://xcp-ng.org/docs/management.html

[2020-11-18 14:29] #196 closed, assigned to nobody

[2020-11-18 19:33] prilly-dev commented on #195
What is this!? i cant find anything in the release note for XCP-NG 8,2 that xcp-ng Center is not available for this version or that the currently release xcp-ng center is not compatible with 8.2

This is just to darn lazy. xcp-ng 8.2 should not have been release before xcp-ng center is ready.

iam going back to xenserver, this is just to crazy

[2020-11-18 23:54] biggen1684 commented on #195
[redacted by stormi].  Go and build XO yourself for free and have everything you could possible need.

XCP-NG Center was never adopted by the xcp-ng team.  Its community supported and not officially supported at all.  I for one can't wait till its dead and gone and everyone is on XO to avoid confusion in the future.

[2020-11-18 23:55] stormi commented on #195
Please remain respectful. I've edited your post.

[2020-11-18 23:57] biggen1684 commented on #195
Sorry.  People that act like spoiled brats deserved to be called out.

[2020-11-19 07:12] prilly-dev commented on #195
So here you are calling me spoiled!?

The fact is that the xcp-ng team released a first version of center to lure in users from xenserver, and slowly without mentioning it forcing this users over to xo when they dont have much choice. Failing mentioning this vital information is done so even more users throw in their towel to use xo.

Still we se that xcp-ng center has the xcp-ng logos, it is host

[2020-11-19 08:04] olivierlambert commented on #195
Okay I did some cleaning and the user will be banned. No need to feed the troll. Issue locked to let @borzel work in good conditions.

[2020-11-20 09:22] cocoon commented on #195
To reduce the pressure a bit I thought I will jump in to help out with an interim unofficial build.

Feel free to try it, most fixes are includes, but there may be missing some.
But it might help the one or other:

https://github.com/cocoon/xenadmin/releases/

[2020-11-26 18:42] gn-ro commented on #197
I have the same error. I have deleted the folder from AppData, reinstalled, repaired the installation, all to no avail. It will not start. Older version works fine.
![image](https://user-images.githubusercontent.com/61818482/100384409-c82ab800-3028-11eb-94a9-3d8668946d98.png)

I think this is the same with [https://github.com/xcp-ng/xenadmin/issues/187](https://github.com/xcp-ng/xenadmin/issues/18

[2020-11-30 09:31] AntonOks commented on #189
if you would be willing to use [scoop ](https://scoop.sh/) instead of chocolatey, you could add my scoop bucket and install the "latest" release...

1. install scoop (see guide in https://scoop.sh/)
2. add my bucket via `scoop bucket add scoop-aoks https://github.com/AntonOks/scoop-aoks.git`
3. install via `scoop install xcp_ng-center-aoks`
4. keep everything up2date via `scoop update *`

I'll lat

[2020-12-05 11:17] philipwilk opened #199 "XCP-ng not detecting xe-guest-utilities on new VMs"
Usually, under VM general properties under general, XCP-ng shows if guest utils are installed on the VM next to _Virtualization state_. This seems to be working fine on existing VMs, but on newly created VMs XCP-ng thinks that they are not installed when they are.

**Steps to reproduce:**
1. Create a new VM
2. Install as usual
3. Install `xe-guest-utilities` on the VM
4. Check the "virtualization

[2020-12-07 16:01] stormi commented on #199
I'm not sure whether this is really related to XCP-ng Center.

In order to be sure: what steps did you follow to install the guest utilities?

Is the `xe-linux-distribution` service running in the VM? Is the `xe-daemon` binary running?

[2020-12-08 01:01] philipwilk commented on #199
I've done what i usually do in my VMs (which don't have the issue) of mounting the virtual disc and running /Linux/install.sh or whatever it is

[2020-12-08 13:58] Grip3n opened #200 "Compatible version location missing ?"
Good day

I upgraded to xcp-ng-8.2.0  from 8.1.0
using XCP-ng Center version 20.04.00 (build 20.04.00.32)
got the following message (see attached)
The Location is empty ?

Not sure if this is a bug or intentional seeing still working on a compatible version ?
if intentional should it not point to the releases tree ?

[![XCPNG.jpg](https://i.postimg.cc/T1w2Xb60/XCPNG.jpg)](https://postimg.cc/G8WnFH

[2020-12-08 14:01] olivierlambert commented on #200
Closing as dup of https://github.com/xcp-ng/xenadmin/issues/195

edit: adding some context from our Release notes: https://xcp-ng.org/docs/release-8-2.html#misc

[2020-12-08 14:01] #200 closed, assigned to nobody

[2020-12-11 16:20] schulz-alexander commented on #195
there is now a "quick" release for XCP-ng 8.2 compatibility: XCP-ng Center 20.04.01: https://github.com/xcp-ng/xenadmin/releases/tag/v20.04.01.33

[2020-12-11 16:21] stormi commented on #195
Thanks borzel and thank you cocoon, I think some users will be happy :)

[2020-12-11 16:22] stormi commented on #195
Now we need to update https://xcp-ng.org/docs/release-8-2.html#status-of-xcp-ng-center

I'll do it when I can, don't hesitate to beat me to it or to remind me if I forget.

[2020-12-11 16:32] olivierlambert commented on #195
On it :+1:

[2020-12-11 17:16] olivierlambert commented on #195
Done and doc refreshed :+1:

[2020-12-15 06:23] bsodmike commented on #192
I'm having this same issue, will see if XOA can help.

[2021-01-07 17:39] stormi commented on #199
Sorry about the delay. Are you still stuck with this guest utilities issue?

[2021-01-07 22:06] philipwilk commented on #199
I just checked on a different installation of XCP-ng Center and yes I'm still experiencing this issue.

[2021-01-08 18:43] stormi commented on #199
I just noticed that you didn't answer to this question: `Is the xe-linux-distribution service running in the VM? Is the xe-daemon binary running?`. And if it's not running: is the service activated? If it is, what do the system logs say about its failure (not logs from XCP-ng Center, logs from the linux system itself)?

[2021-01-08 20:07] philipwilk commented on #199
Here is what comes up on the VM with working xe-utils detection:
![image](https://user-images.githubusercontent.com/50517631/104059235-e3264580-51ec-11eb-9b7a-1af0b9c7dece.png)
and here is what comes up with the one that isn't visible in XCP-ng center:
![image](https://user-images.githubusercontent.com/50517631/104059305-07822200-51ed-11eb-824d-7b58d7555b8c.png)

I don't know how important this is

[2021-01-27 14:03] stormi commented on #199
I/O is always optimized on linux, so no worry about that. Apparently the service is running, so I don't know why it's not detected as such.

[2021-02-04 23:59] schwhen commented on #186
Hi all,

I have the same problem as mentioned before. My solution is to click on the tab "Memory" and than use the command <<ALT>> +<<e>>. Than the right sub window pops up.

[2021-02-05 00:01] schwhen commented on #186
Hi all,

I have the same problem as mentioned before. My solution is to click on the tab "Memory" and than use the command "ALT" + "e". Than the right sub window pops up.
I hope that can help a bit.
Henning

[2021-02-06 16:13] Outstep opened #201 "Connecting xenadmin to Alpine XEN"
Hi All,

Not sure if this is the correct place to ask this, but I have been playing with the Alpine-XEN Live distro and have installed it to a USB.

Since it is running in RAM, I would like to be able to connect to it with the xenadmin.

I "might" have to install XAPI or some other packages but am not sure how to proceed.

With that in mind, I wondering if anyone has done this yet?
Any help or gui

[2021-02-06 16:20] olivierlambert commented on #201
Citrix Hypervisor and XCP-ng are the only XAPI-capable distros. One can't just install XAPI on another distro, because it wasn't built to be easily deployed outside the very specific environment that the 2 previous distro I listed before.

On Alpine, you have lib xl that can be compatible with libvirt if I remember correctly.

[2021-02-06 16:21] olivierlambert commented on #201
See https://xcp-ng.org/docs/architecture.html#api for more details.

[2021-04-08 14:29] mshalmanov opened #202 "Error import VM from OVF to VMware Workstation"
Hello.
I can export VM to OVF file.

![изображение](https://user-images.githubusercontent.com/4174493/114039773-d75a2600-98a4-11eb-9797-b3fbcac55b9d.png)

When i can import my OVF file, i have error

Failed to open virtual machine: Line 2: Unsupported section 'StartupSection' (Startup Options).

Line 2: Unsupported element 'VirtualSystemOtherConfigurationData'.

Line 2: Unsupported element 'Virtua

[2021-04-29 01:55] jimthedj65 opened #203 "New *.2 XCP-NG Install"
**Describe the bug**
Fresh install, trying to do yum update / upgrade and produces an error that the base repo is not available.

**To Reproduce**
Steps to reproduce the behavior:
1. Install on bare metal
2. ssh in as root
3. try to run an yum update / upgrade
4. See error
yum update
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
Excluding mirror: updates.xcp-ng.org
 * xc

[2021-04-29 06:29] olivierlambert commented on #203
Seems like a DNS issue. Please check your DNS settings :)

[2021-04-29 09:40] jimthedj65 commented on #203
Hi Olivier I check DNS and sure enough the settings were blank, that's all fixed, and when I go to XOA deploy I am getting the following error

Unexpected token < in JSON at position 0

[2021-04-29 09:46] olivierlambert commented on #203
Please create a thread in our community forum, this repo isn't the place for that issue :)

https://xcp-ng.org/forum/

[2021-04-29 09:46] #203 closed, assigned to nobody

[2021-04-29 09:53] jimthedj65 commented on #203
ok thank you

[2021-05-27 13:58] justingoldberg opened #204 "Minor gui issue: Allow Line Endings in Xen Center"
Allow Cr/Lf in the description of the guest in xen center. I know that XCP center isn't a documentation repository, but still it would be nice.

![2021-05-27 09_54_53-'XOA redo from sources' Properties](https://user-images.githubusercontent.com/6743293/119839270-0c145200-bed2-11eb-9454-88c8f2240f13.png)

[2021-07-25 13:37] JoeArnon opened #205 "Error when trying to look at memory consumption of the host"
[code]

[2021-07-25 16:06] JoeArnon commented on #205
![error](https://user-images.githubusercontent.com/6695277/126905704-2a536d71-3b0c-4d3d-8481-87cad7b7c296.png)

[2021-09-04 10:14] cocoon commented on #205
Hi, I see that you are using an old version (Version: 20.3.0.29), does it still occur if you use the latest one?

https://github.com/xcp-ng/xenadmin/releases/tag/v20.04.01.33

Was fixed here:
https://github.com/xcp-ng/xenadmin/issues/184

[2021-09-05 09:05] JoeArnon commented on #205
No, it seems to be fixed on the new version.

Thanks,

Joe

From: cocoon ***@***.***>
Sent: Saturday, 4 September 2021 13:15
To: xcp-ng/xenadmin ***@***.***>
Cc: Joe Arnon ***@***.***>; Author ***@***.***>
Subject: Re: [xcp-ng/xenadmin] Error when trying to look at memory consumption of the host (#205)

Hi, I see that you are using an old version, does it still occur if you use the latest one?

ht

[2021-09-05 10:33] #205 closed, assigned to nobody

[2021-11-04 16:49] steinbitglis commented on #172
Is there any workaround for this, other than installing xen orchestra?

[2021-11-04 17:09] M-Covrig commented on #172
Perhaps you need to update to the latest xcp-NG center, and it should work. I'm using v20.04.01. I would suggest to use both xcp-ng center and xoa(even the free version is doing the job). Or you can ask for an extension to XOA license, the lads are very helpful. Cheers

[2021-11-04 17:18] steinbitglis commented on #172
It seems like 'xe pool-param-set' and 'xe vm-param-set' worked. I'm new to XCP-ng, and apart from this auto-boot issue, I like it a lot.

[2021-11-04 17:37] M-Covrig commented on #172
Yes it is nice and stable, we are using this for our organisation in the last 2 years nearly, and I'm delighted. Still there's a lot to learn... :). Forgot to mention, the only issue encountered was the LVM limitation to max 4TB if I remember correctly.

[2021-12-22 09:33] informaticavera opened #207 "log4net"
XCP-ng Center last versión have C:\Program Files (x86)\XCP-ng Center\log4net.dll

Does that version have the vulnerability?

[2021-12-23 11:41] stormi commented on #207
XCP-ng Center is only maintained by the community, so I can't tell. But don't you need something to be exposed on the network for that vulnerability to be exploited?

[2021-12-23 14:24] selectstriker2 commented on #207
I wouldn't think so, as the Log4Shell vulnerability relies on a feature of the Java runtime, which Dot Net doesn't have.

[2022-01-06 07:04] BasixKOR opened #208 "Dynamic memory control isn't deprecated on XCP-ng"
**Describe the bug**
XCP-ng Center reports that DMC has been deprecated since 8.1, but [the dev has noted that they will keep DMC support.](https://xcp-ng.org/forum/topic/2947/dynamic-memory-deprecated?_=1619533083324)

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to a server running XCP-ng 8.1 or above.
2. Click on any VM with DMC set up.
3. Click the memory tab.
4. See the warning.

[2022-04-22 08:17] bayramaslan opened #209 "encrypting a virtual machine disk"
Hi,
i want ask that is is possible encrypting a virtual machine disk via xcp-ng center ? It seems possible by virtualbox like in photo:

![Screenshot from 2022-04-22 11-17-31](https://user-images.githubusercontent.com/104194437/164647814-fa4ee17d-75c7-42af-8041-f1621047b00f.png)
.

[2022-04-22 10:19] olivierlambert commented on #209
Hi,

1. Virtualbox is a complete different platform than XCP-ng
2. There's no support in XCP-ng for VM disk encryption right now (it might come in the future)
3. XCP-ng Center is only community maintained, I would suggest to use another client to manage your hosts :)

[2022-04-22 10:19] #209 closed, assigned to nobody

[2022-04-25 09:48] RHuehne opened #210 "Screen-Scaling breaks tree-view"
**Describe the bug**
When Windows is not used in native resolution, but scaled XCP-NG Center tree view pane does not stick to it's outer frame

**To Reproduce**
1. Set Windows Custom Scaling to 125%  (seen on different Machines, especially when using RDP)
2. Start XCP-NG Center

**Expected behavior**
The tree-view in the left pane uses the whole pane.
![xcp-bug](https://user-images.githubuserconte

[2022-04-25 09:51] olivierlambert commented on #210
Since this repo is only community maintained without a lot of contributions lately, you might have better chances to report this upstream directly (here: https://github.com/xenserver/xenadmin)

[2022-04-25 10:05] cocoon commented on #210
Hi, yes scaling often causes problems, but currently I was unable to reproduce it on my machine (Win11 and Server 2016), tried 125%, 150% and it was OK here.

Can you tell more about the system (Windows, GPU + Driver, ...)?

[2022-04-25 10:20] cocoon commented on #207
log4net is not affected by this, so can be closed.
https://www.cvedetails.com/vulnerability-list/vendor_id-45/product_id-7281/Apache-Log4net.html

[2022-04-25 10:20] #207 closed, assigned to nobody

[2022-04-25 11:24] RHuehne commented on #210
Hi There!

Thanks! Done: https://github.com/xenserver/xenadmin/issues/2995

Cheers

[2022-04-25 14:06] stormi commented on #210
@RHuehne upstream's product is not XCP-ng Center so you should first reproduce with theirs (XenCenter), not ask them about bugs in XCP-ng Center but about bugs in XenCenter, and make sure you test the latest release (XCP-ng Center has not been updated in a while).

[2022-04-26 07:05] RHuehne commented on #210
sorry... I don't get that?
Official Xencenter cannot connect to XCP-NG Hosts... or did this change?

UPDATE: ... ok... I don't need a Server... :) -> Updated Request for XenServer

[2022-04-26 09:35] cocoon commented on #204
This should already support multiline, you just have to paste the text into the Textbox there.
Enter is not working inside because it directly sends the OK for the form.

If that is what you request, it would be better to ask over at xenadmin (after trying with C. Hypervisor first if it still behaves the same, as far as I can see at least XenCenter-8.2.3 still behaves like this):

https://github.c

[2022-05-24 16:58] #199 closed, assigned to nobody

[2022-09-20 17:09] MichaelCropper opened #211 "XCP-ng Centre 20.04.01 - VM Autostart on Server Boot not working"
Detailed steps to reproduce outlined here: https://xcp-ng.org/forum/topic/6335/xcp-ng-centre-20-04-01-vm-autostart-on-server-boot-not-working

[2022-10-03 17:54] doublej74 opened #212 "storage overcommitted error, while it is not"
versions XCP-ng 8.2.1 open source version, XCP-ng Center 20.04.01
![Untitled](https://user-images.githubusercontent.com/13889175/193645490-ffff78fd-3f94-404c-af41-2dd81af65aa2.png)

[2022-11-19 08:21] lkernan opened #213 "xcp-ng 8.3 alpha reports Xcp-ng Centre is too old."
**Describe the bug**
The version of Xcp-ng Centre is considered too old and unable to connect to Xcp-ng 8.3 public alpha.

**To Reproduce**
1. Install Xcp-ng 8.3 public alpha
2. Try to connect with the latest build of Xcp-ng Centre

**Expected behavior**
Xcp-ng Centre would be expected to be able to connect.